@model IEnumerable<CourseProjectPlanner.Models.Saving>

@{
	ViewData["Title"] = "Статистика";
	List<Category> categoriesList = ViewBag.CategoriesList;
	List<Spend> spendsList = ViewBag.SpendsList;
	string selectedCurrency = ViewBag.Currency;

	var currencySymbols = new Dictionary<string, string> {
		{ "UAH", "₴" },
		{ "USD", "$" },
		{ "EUR", "€" },
		{ "GBP", "£" },
		{ "PLN", "zł" },
		{ "CZK", "Kč"}
	};
}
<div class="text-center">
	<h2>Статистика за @ViewBag.Months</h2><br>
	<div class="d-flex justify-content-center align-items-center gap-2 my-3">
		<label for="currency" class="form-label mb-0 fw-bold">Валюта:</label>
		<select id="currency" class="form-select w-auto text-center" onchange="submitFilters()">
			@foreach (var currencySymbol in currencySymbols.Keys)
			{
				<option value="@currencySymbol">@currencySymbol</option>
			}
		</select>
	</div>
</div>



<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

@{
	List<decimal> savingPricesList = new List<decimal>();
	List<string> savingCategoriesNamesList = new List<string>();
	List<string> categoriesFilesList = new List<string>();
	foreach (var category in categoriesList)
	{
		decimal categorySavingSum = 0;
		foreach (var saving in Model)
		{
			if (category.CategoryId == saving.CategoryId)
			{
				categorySavingSum += saving.Price;
			}
		}

		if (categorySavingSum > 0)
		{
			savingCategoriesNamesList.Add(category.Name);
			categoriesFilesList.Add($"/images/{category.ImageName}");
			savingPricesList.Add(categorySavingSum);
		}
	}

}

<div id="barStatistics" class="center-element text-center"></div>

<div class="text-center">
	@{

		decimal generalSavingSum = 0;
		decimal generalSpendSum = 0;
		decimal differenceInPrices = 0;

		string differenceInPricesText;

		for (int i = 0; i < savingCategoriesNamesList.Count(); i++)
		{
			generalSavingSum += savingPricesList[i];
		}

		foreach (var spend in spendsList)
		{
			generalSpendSum += spend.Price;
		}

		differenceInPrices = generalSavingSum - generalSpendSum;

		<h5>Накопичено усього: @generalSavingSum</h5>

		if (differenceInPrices < 0)
		{
			differenceInPricesText = "Ви вийшли в мінус на ";
			<h5>@differenceInPricesText@differenceInPrices</h5>
		}
		else if (differenceInPrices > 0)
		{
			differenceInPricesText = "Ви вийшли в плюс на ";
			<h5>@differenceInPricesText@differenceInPrices</h5>
		}
		else
		{
			differenceInPricesText = "Ви вийшли рівно в нуль";
			<h5>@differenceInPricesText</h5>
		}


	}
</div>

<script>
	let currencySelect = document.getElementById("currency");
	let selectedCurrency = @Html.Raw(Json.Serialize(ViewBag.SelectedCurrency));

	for (let i = 0; i < currencySelect.options.length; i++) {
		if (currencySelect.options[i].value === selectedCurrency) {
			currencySelect.selectedIndex = i;
			break;
		}
	}


	function submitFilters() {
		let currency = document.getElementById("currency").value;
		let months = @Html.Raw(Json.Serialize(ViewBag.Months));

		months = months.replace(/\D/g, "");

		let params = new URLSearchParams();

		if (currency) {
			params.append('currency', currency);
		}

		params.append('months', months)

		window.location.href = `/Home/StatisticsSavings?${params.toString()}`;
	}



	let dataNames = @Html.Raw(Json.Serialize(savingCategoriesNamesList));
	let dataPrices = @Html.Raw(Json.Serialize(savingPricesList));

	let data = [
		{
			labels: dataNames,
			values: dataPrices,
			type: 'pie'
		}
	];


	let layout = {

		height: 400,

		width: 500

	};
	Plotly.newPlot('barStatistics', data);



</script>
