@model IEnumerable<CourseProjectPlanner.Models.Spend>

@{
	ViewData["Title"] = "Статистика";
	List<Category> categoriesList = ViewBag.CategoriesList;
	List<Saving> savingsList = ViewBag.SavingsList;

	var currencySymbols = new Dictionary<string, string> {
		{ "UAH", "₴" },
		{ "USD", "$" },
		{ "EUR", "€" },
		{ "GBP", "£" },
		{ "PLN", "zł" },
		{ "CZK", "Kč"}
	};
}
<div class="text-center">
	<h2>Статистика за @ViewBag.Months</h2><br>
	<select id="currency" class="form-control" onchange="submitFilters()">
		@foreach (var currencySymbol in currencySymbols.Keys)
		{
			<option value="@currencySymbol">@currencySymbol</option>
		}
	</select>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

@{
	List<decimal> spendPricesList = new List<decimal>();
	List<string> categoriesNamesList = new List<string>();
	List<string> categoriesFilesList = new List<string>();
	foreach (var category in categoriesList)
	{
		decimal categorySpendSum = 0;
		foreach (var spend in Model)
		{
			if (category.CategoryId == spend.CategoryId)
			{
				categorySpendSum += spend.Price;
			}
		}
		if (categorySpendSum > 0)
		{
			categoriesNamesList.Add(category.Name);
			categoriesFilesList.Add($"/images/{category.ImageName}");
			spendPricesList.Add(categorySpendSum);
		}
	}

}

<div id="barStatistics" class="center-element text-center"></div>

<div class="text-center">
	@{

		decimal generalSpendSum = 0;
		decimal generalSavingSum = 0;
		decimal differenceInPrices = 0;

		string differenceInPricesText;

		for (int i = 0; i < categoriesNamesList.Count(); i++)
		{
			generalSpendSum += spendPricesList[i];
		}

		foreach (var saving in savingsList)
		{
			generalSavingSum += saving.Price;
		}

		differenceInPrices = generalSavingSum - generalSpendSum;

		if (differenceInPrices < 0) differenceInPricesText = "Ви вийшли в мінус на ₴";
		else if (differenceInPrices > 0) differenceInPricesText = "Ви вийшли в плюс на ₴";
		else differenceInPricesText = "Ви вийшли рівно в нуль";

		<h5>Витрачено усього: ₴@generalSpendSum</h5>

		<h5>@differenceInPricesText@differenceInPrices</h5>
	}
</div>

<script>
	let currencySelect = document.getElementById("currency");
	let selectedCurrency = @Html.Raw(Json.Serialize(ViewBag.SelectedCurrency));

	for (let i = 0; i < currencySelect.options.length; i++) {
		if (currencySelect.options[i].value === selectedCurrency) {
			currencySelect.selectedIndex = i;
			break;
		}
	}


	function submitFilters() {
		let currency = document.getElementById("currency").value;
		let months = @Html.Raw(Json.Serialize(ViewBag.Months));

		months = months.replace(/\D/g, "");

		let params = new URLSearchParams();

		if (currency) {
			params.append('currency', currency);
		}

		params.append('months', months)

		window.location.href = `/Home/StatisticsSpends?${params.toString()}`;
	}



	let dataNames = @Html.Raw(Json.Serialize(categoriesNamesList));
	let dataPrices = @Html.Raw(Json.Serialize(spendPricesList));

	let data = [
		{
			labels: dataNames,
			values: dataPrices,
			type: 'pie'
		}
	];


	let layout = {

		height: 400,

		width: 500

	};
	Plotly.newPlot('barStatistics', data);
</script>
